<!-- add_task.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Add Task</title>
</head>

<body>
    <h1>Add Task</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required></textarea><br>

        <button type="submit">Save Task</button>
    </form>
</body>

</html>