<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} Tim's Site {% endblock %}</title>
</head>

<body>
    <div id="content" , name="content">
        {% block content%}
        {% endblock %}
    </div>
</body>

</html>