<!DOCTYPE html>
<html>

<head>
    <title>Book List</title>
</head>

<body>
    <h1>Book List</h1>
    {% if books %}
    <ul>
        {% for book in books %}
        <li>{{ book.title }} - {{ book.author }} - {{ book.publication_year }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No books found.</p>
    {% endif %}
</body>

</html>