{% extends "main/base.html" %}
{% block title %}View List{% endblock %}

{% block content %}
<h1>{{ls.name}}</h1>
<ul>
    {% for item in ls.item_get.all %}
    {% if item.complete == True %}
    <li>
        {{item.text}} - COMPLETE
        {% else %}
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}