<html>

<head>
    <title>Login</title>
</head>

<body>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Đăng nhập">
    </form>
</body>

</html>