<!-- task_list.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Task List</title>
</head>

<body>
    <h1>Task List</h1>
    <ul>
        {% for task in tasks %}
        <li>{{ task.title }} - {{ task.description }} - {% if task.completed %}Completed{% else %}Not Completed{% endif
            %}</li>
        {% endfor %}
    </ul>
</body>

</html>