<!DOCTYPE html>
<html>

<head>
    <title>User List</title>


</head>

<body>
    <h1>User List</h1>
    <ul>
        {% for user in users %}
        <li>{{ user.name }}</li>
        {% endfor %}
    </ul>
</body>

</html>