body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #007bff;
}

ul {
    list-style: none;
}

li {
    margin: 5px;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 5px;
}